[Unit]
Description=SL8 Full Node
After=network.target

[Service]
User=SL8
Group=SL8
WorkingDirectory=~

Type=forking
PIDFile=/var/run/SL8d.pid

ExecStart=/usr/bin/SL8d --config-file /etc/SL8d.conf \
    --detach --pidfile /var/run/SL8d.pid

[Install]
WantedBy=multi-user.target
